<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Personal site of Victor Tolbert" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Examples - Using grid instead of containers/wrappers</title>
    <link rel="dns-prefetch" href="//www.google-analytics.com" />
    <link rel="stylesheet" href="/styles/examples/css-grid/breakout-container.css" />
    <link
      rel="pingback"
      href="https://webmention.io/victortolbert.com/xmlrpc"
    />
    <link
      rel="webmention"
      href="https://webmention.io/victortolbert.com/webmention"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>

  <body>
    <div class="text-fader">
      <div class="text-content">
        <span class="line"
          >It’s what <span class="colour">drives us.</span></span
        >
        <span class="line">Because when you thrive,</span>
        <span class="line">we <span class="colour">thrive.</span></span>
      </div>

      <div class="text-content">
        <span class="line">Lorem ipsum dolor sit amet,</span>
        <span class="line"
          >consectetur <span class="colour">adipisicing</span> elit,</span
        >
        <span class="line">sed do eiusmod</span>
      </div>
    </div>

    {{ 'true' if conditional else 'false'  }}

    {# {{ variable | dump }} #}
  </body>
</html>
