<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Personal site of Victor Tolbert" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Examples - Theming with CSS Custom Properties</title>
    <link rel="dns-prefetch" href="//www.google-analytics.com" />
    <link rel="stylesheet" href="/styles/examples/text-cycle-animation.css" />
    <link rel="stylesheet" href="/styles/examples/theming.css" />
    <link
      rel="pingback"
      href="https://webmention.io/victortolbert.com/xmlrpc"
    />
    <link
      rel="webmention"
      href="https://webmention.io/victortolbert.com/webmention"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>

  <body>
    <header>
      <h1>Site Title</h1>
      <div class="subtitle">Subtitle</div>
    </header>

    <main>
      Choose a theme color:
      <input type="color" id="choose-theme-color" />
    </main>

    <footer>Footer</footer>

    <script src="/scripts/examples/theming.js"></script>
  </body>
</html>
