<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Starter Kit</title>
    <meta name="robots" content="noindex, nofollow" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <!--
      The Tailwind CSS Play CDN is designed for development purposes only,
      and is not the best choice for production.
    -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Alpine.js - lightweight, JavaScript framework. -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>

    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

    <!-- Prototype styles -->
    <link rel="stylesheet" href="/styles/index.css" />
  </head>

  <body>
    <main class="app-wrapper slds-template_default">
      {% block content %}
      <!-- Content from HTML files gets injected here -->
      {% endblock %}
    </main>

    <script src="/scripts/app.js"></script>
    <script src="/scripts/vendor/svg4everybody.min.js"></script>
    <script>
      svg4everybody()
    </script>
  </body>
</html>
