<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Starter Kit</title>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <meta name="robots" content="noindex, nofollow" />

  <!-- Prototype styles -->
  <link rel="stylesheet" href="/styles/index.css" />
</head>
<body>
  <div class="slds-p-around--large slds-container--center slds-container--small app-landing">
    <h1 class="slds-text-heading--large">
       Starter Kit
    </h1>

    <p><a href="/example.html" class="slds-button slds-button--brand">Example Prototype</a></p>
  </div>

  <script src="/scripts/app.js"></script>
  <script src="/scripts/vendor/svg4everybody.min.js"></script>
  <script>svg4everybody()</script>
</body>
</html>
