<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Starter Kit</title>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="robots" content="noindex, nofollow" />

    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Alpine.js - lightweight, JavaScript framework. -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>

    <!-- Prototype styles -->
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <main class="p-16">
      <div
        class="slds-p-around--large slds-container--center slds-container--small app-landing"
      >
        <p>
          <a href="/salesforce.html" class="slds-button slds-button--brand">
            Salesforce Prototype
          </a>
        </p>
      </div>
      <h2>Examples</h2>
      <ul class="list-disc list-inside">
        <li>
          <a href="/examples/text-cycle-animation.html">Text Cycle Animation</a>
        </li>
        <li><a href="/examples/theming.html">Theming</a></li>
      </ul>
      <div x-data="{ open: false }">
        <button @click="open = true">Expand</button>
        <span x-show="open"> Content... </span>
      </div>
    </main>

    <script src="/scripts/app.js"></script>
    <script src="/scripts/vendor/svg4everybody.min.js"></script>
    <script>
      svg4everybody()
    </script>
  </body>
</html>
