<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Personal site of Victor Tolbert" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Examples - Text Cycle Animation</title>
    <link rel="dns-prefetch" href="//www.google-analytics.com" />
    <link rel="stylesheet" href="/styles/examples/cards/tilting.css" />
    <link
      rel="pingback"
      href="https://webmention.io/victortolbert.com/xmlrpc"
    />
    <link
      rel="webmention"
      href="https://webmention.io/victortolbert.com/webmention"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>

  <body>
    <div class="tilting-card-content">
      <h1>Tilting card</h1>
      <p>with css only!</p>

      <div class="mouse-position-tracker">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <script src="/scripts/examples/cards/tilting.js"></script>
  </body>
</html>
