<footer>
  <p>I'm a serverless noob. Got comments? Something wrong on the site? <a href="mailto:chriscoyier@gmail.com">chriscoyier@gmail.com</a></p>
  Powered by <a href="https://codepen.io/pro/projects"><img src="/images/codepen-projects.svg" alt="CodePen Projects"></a>
</footer>
