<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Personal site of Victor Tolbert" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Examples - Infinite Scroll</title>
    <link rel="dns-prefetch" href="//www.google-analytics.com" />
    <link rel="stylesheet" href="/styles/examples/animation/infinite-scroll.css" />
    <link
      rel="pingback"
      href="https://webmention.io/victortolbert.com/xmlrpc"
    />
    <link
      rel="webmention"
      href="https://webmention.io/victortolbert.com/webmention"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>

  <body>
    <!--
       PROGRESSIVELY ENHANCED
       If a user has `prefers-reduced-motion: reduced`, there will be no animation
       and the items will wrap, instead of being hidden.
       If they have not opted for reduced motion, the items will be duplicated with JS
       and the duplicated content will have `aria-hidden="true"` to prevent duplicate content
       for screen readers.
       If a user has JS disabled or it fails for whatever reason, they will get the same
       experience as a user with `prefers-reduced-motion: reduced`, so no content is hidden,
       and there is no animation.

       === OPTIONS ===
       CONTROL SPEED
       If you don't assign anything, it will use a default speed.
       To change the speed, on the `.scroller`
       you can use `data-speed="fast"` or `data-speed="slow"

       CONTROL DIRECTION
       By default, it will scroll from right to left.
       To change the direction, on the `.scroller`
       you can use `data-direction="right"` (`data-direction="left" also works, but it is the default)
    -->

    <h1 style="text-align: center">Infinite Scroll Animation</h1>

    <div class="scroller" data-speed="fast">
      <ul class="tag-list scroller__inner">
        <li>HTML</li>
        <li>CSS</li>
        <li>JS</li>
        <li>SSG</li>
        <li>webdev</li>
        <li>animation</li>
        <li>UI/UX</li>
      </ul>
    </div>

    <div class="scroller" data-direction="right" data-speed="slow">
      <div class="scroller__inner">
        <img src="https://i.pravatar.cc/150?img=1" alt="" />
        <img src="https://i.pravatar.cc/150?img=2" alt="" />
        <img src="https://i.pravatar.cc/150?img=3" alt="" />
        <img src="https://i.pravatar.cc/150?img=4" alt="" />
        <img src="https://i.pravatar.cc/150?img=5" alt="" />
        <img src="https://i.pravatar.cc/150?img=6" alt="" />
      </div>
    </div>

    <script src="/scripts/examples/animation/infinite-scroll.js"></script>
  </body>
</html>
