<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Personal site of Victor Tolbert" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Examples - Text Fade Animation</title>
    <link rel="dns-prefetch" href="//www.google-analytics.com" />
    <link rel="stylesheet" href="/styles/examples/animation/text-fade.css" />
    <link
      rel="pingback"
      href="https://webmention.io/victortolbert.com/xmlrpc"
    />
    <link
      rel="webmention"
      href="https://webmention.io/victortolbert.com/webmention"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>

  <body>
    <h1>
      <span>There</span>
      <span>are</span>
      <span>no</span>
      <span>limits</span>
      <span>to</span>
      <span>what</span>
      <span>you</span>
      <span>can</span>
      <span>accomplish,</span>
      <span>except</span>
      <span>the</span>
      <span>limits</span>
      <span>you</span>
      <span>place</span>
      <span>on</span>
      <span>your</span>
      <span>own</span>
      <span>thinking.</span>
    </h1>
  </body>
</html>
